.m20pc {
    margin: 20%;
}

.m30pcl {
    margin-left: 30%;
}

.m30pcr {
    margin-right: 30%;
}
.m2pcb {
    margin-block:2%;
}
.mvThumbImg{
    max-width: 20%;
    max-height: 20%;
}
.langBadge{
    background-color: #e9ecef;
    color: blue;
    margin-right: 1%;
}
.cardShadow{
    box-shadow:-2px 7px 36px 13px #bbc5cd;
}
.pd5{
    padding: 5%;
}